* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;

}

.container h1 {
    margin: 2rem;
}

.forms {
    width: 100%;
    margin-bottom: 20px;
}

#task {
    padding: 20px;
    border-radius: 5px;
    border: none;
    border-radius: 2rem;
    margin-right: 0;
    font-size: 1.2rem;
    width: 20rem;
    outline: none;

}

#add {
    padding: 1.2rem;
    margin-left: -3rem;
    border: none;
    border-radius: 2rem;
    background: rgb(255, 169, 9);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-left: 0;

}

.todolist {
    width: 22rem;
    background: white;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.todos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 40%; */
    padding: 20px;
    display: inline;
    list-style: none;
}


.todo {
    background: #e4e4e4;
    margin: .5rem 0;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem solid #e3ede3;
    text-align: center;
    font-size: 1.3rem;

}

.remove {
    padding: .9rem;
    font-size: .6rem;
    border: none;
    outline: none;
    background: rgb(255, 59, 59);
    color: white;
    border-radius: 2rem;
}

.completed {
    text-decoration: line-through;
}